# specific data
gene_list_panTCGA.json
panTCGA_gct_data_float_v1.npy
sample_class_list.txt
gene_list_panTCGA.npy
panTCGA-FPKM-GEM.txt
panTCGA_tumor_count_v1.json
hallmark_gene_counts.json
panTCGA-GEM.readme.v2-20180207
allfiles.tar

#files
*.csv
